<style>
  li{display: inline; margin: 10pt;}
  form{display: inline; margin: 10pt;}
</style>
<nav style="text-align: center;">
  <ul >
    <li><a href="/profile">Profile</a></li>
    <li>|</li>
    <li><a href="/companies">Companies</a></li>
    <li>|</li>
    <li><a href="/portfolio"> Portofolio List</a></li>
    <li>|</li>
    <li><a href="/stocks"> Stock List</a></li>
    <li>|</li>
    <li><a href="/logout"> Logout</a></li>
    <form action="/profile" method="post">
      
      <li> <input type="text" name="credits" placeholder="Add Credits Amount"> </li>
    
      <li><a href="/portfolio"><button>Top Up Credits</button></a></li>
    </form>
    
  </ul>
  
  
</nav>